[defaults]
inventory = inventory/hosts.ini
roles_path = roles
host_key_checking = True
interpreter_python = auto_silent
stdout_callback = default
retry_files_enabled = False
local_tmp = ../../tmp/ansible-local
remote_tmp = /tmp/ansible-remote

[ssh_connection]
ssh_args = -o UserKnownHostsFile=../../tmp/ansible-known_hosts -o StrictHostKeyChecking=accept-new -o ControlMaster=no

[privilege_escalation]
become = True
become_method = sudo
